<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </head>

  <body>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
         <a class="navbar-brand text-light" href="<%= books_path %>">
          <%= image_tag("logo-light.png", size: "30", alt: "Bookshelf logo", class: "d-inline-block align-text-top") %>
            Bookshelf
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to 'Books', books_path, class: "nav-link px-2 text-light" %></li>
            <li><%= link_to 'Authors', authors_path, class: "nav-link px-2 text-light" %></li>
            <li><%= link_to 'Publishers', publishers_path, class: "nav-link px-2 text-light" %></li>
          </ul>

          <div class="text-end">
            <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class:"btn btn-light" %>
            <% else %>
            <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-light" %>
            <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-light" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    
    <div class="container-lg py-5">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <p class="notice text-center"><%= notice %></p>
        </div>
      <%end %>

      <% if alert %>
      <div class="alert alert-danger" role="alert">
          <p class="alert text-center"><%= alert %></p>
        </div>
      <%end %>
      
      <%= yield %>

    </div>

  </body>
</html>
